@page "/ticketsuccess"
<h3>Ticket Successfully Created!</h3>
<p>Your ticket has been successfully submitted. Redirecting to the ticket list...</p>

<style>
    h3 {
        color: green;
        text-align: center;
        margin-top: 20px;
    }
    p {
        text-align: center;
        margin-top: 10px;
        font-size: 1.2rem;
    }
</style>
